[submodule "eureka"]
	path = eureka
	url = https://github.com/UOrnaghiProj/eureka.git
[submodule "zuul-mediaw"]
	path = zuul-mediaw
	url = https://github.com/UOrnaghiProj/zuul-mediaw.git
[submodule "geolocalization"]
	path = geolocalization
	url = https://github.com/UOrnaghiProj/geolocalization.git
[submodule "mediaword-app"]
	path = mediaword-app
	url = https://github.com/UOrnaghiProj/mediaword-app.git
[submodule "root-mediaw"]
	path = root-mediaw
	url = https://github.com/UOrnaghiProj/root-mediaw.git
